body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

header,main,.logo {
    flex-direction: column;
    display: flex;
}

header {
    height: 218px;
}

header h2 {
    display: flex;
    justify-content: center;
    font-family: Playfair+Display;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    margin: 60px 0 46px;
}

header ul {
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

header li {
    padding: 0 24px;
    cursor: pointer;
    text-transform: uppercase;
}

.banner {
    display: flex;
    flex-direction: column;
    background: url("./assets/img/Hotel-11.png") center;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    height: 464px;
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

.banner .tag {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #FF7931;
    padding: 4px 14px;
    margin: 66px 0 0;
}

.banner h1 {
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 44px 0 42px;
}

.banner .navigation {
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-size: 13px;
    line-height: 15px;
}

.banner .navigation span:first-child {
    cursor: pointer;
}

.banner .navigation span:first-child:after {
    content: "--------------";
    color: transparent;
    border-bottom: 1px solid #fff;
    position: relative;
    top: -8px;
    left: 10px;
}

.banner .navigation span:last-child {
    cursor: pointer;
}

.banner .navigation span:last-child:before {
    content: "--------------";
    color: transparent;
    border-bottom: 1px solid #fff;
    position: relative;
    top: -8px;
    left: -10px;
}

.banner .navigation svg {
    cursor: pointer;
    margin: 0 24px;
}

.banner .navigation .center {
    position: relative;
}

.banner .navigation .separator {
    display: block;
    width: 1px;
    height: 42px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 63px;
}

.banner p {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin-top: 55px;
    width: 456px;
    font-weight: 300;
}